@page {
    margin-top: 5mm;
    margin-bottom: 5mm;
    margin-left: 5mm;
    margin-right: 5mm;
}

body {
    font-size: 9pt;
}

table {
    font-size: 9pt;
    margin-bottom: 10px;
    width: 100%;
    border-style: solid;
    border-color: rgb(0, 0, 0);
}

table.evaluationTable td {
    border-style: solid;
    border-color: rgb(0, 0, 0);
}

.styleNormalHeader{
    text-align: right;
}

.styleNormalHeader.styleCompanyName{
    font-weight: bold;
    font-size: 10;
}

.styleAmount {
    text-align: right;
}
.styleAmount.styleAmount_decl {
    text-align: right;
    background-color: aliceblue;
}
.styleRubriekTitle{
    font-weight: bold;
}
.styleQuarters{
    text-align: center;
    font-weight: bold;
}
.styleFinalParagraphs{
    font-size: 8pt;
}

.styleColumnTitles{
    text-align: center;
}